table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  
  tr.TablaHeader {
      border: 1px solid black;
    background-color: #04AA6D;
    color: white;
    padding: 10px 10px 10px 10px;
  }
  
  
  table.row {
      background: yellow;
  }
  
nav{
  border-bottom: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
nav li {
    float: left;
  }
  
nav  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #111111;
  }

div.footer {
  position:relative;
  height: 800px;
  bottom:0;
}
